h2 {
    color: royalblue;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: royalblue;
    border-radius: 50%;
    position: relative;
    left: 100px;
    top: -33px;
    animation-name: move-circle;
    animation-duration: 2000ms;
}

@keyframes move-circle {
    0% {
        left: 100px;
    }
    50% {
        left: 200px;
    }
    100% {
        left: 100px;
    }
}